*{
    box-sizing:border-box;
}
body{
    margin:15px 30px;
    font-size:17px;
    padding:8px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:navy;
    background-color: azure;
    border-radius: 5px;
    height:19vh;
    width:80vw;
    align-items: top;
}
h3{
    color:navy;
    background-color: light rgba(128, 128, 128, 0.855);
    font-family: Arial, Helvetica, sans-serif;
}
.class{
    color:navy;
    background-color:lightgrey;
    border-radius: 5px;
}
body{
    background-color: lightblue;
}
#male{
    color:#004d40;
}
#female{
    color:#800000;
}
input[type="text"],input[type=email],input[type=password],input[type=number]
{
   border-radius: 5px;
    background-color:#e0f7fa;
} 
option{
    border-radius: 5px;
    background-color:#e0f7fa;
}
select{
    border-radius: 5px;
    background-color:#e0f7fa;
}
textarea{
    border-radius: 5px;
    background-color:#e0f7fa;
}
input[type=date]{
    border-radius: 5px;
    background-color:#e0f7fa;
}
#submit{
    border-radius: 5px;
    background-color:#e0f7fa;
}
#reset{
    border-radius: 5px;
    background-color:#e0f7fa;
}